.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.footer-logo {
    width: 5rem;
}

.footer-p {
    color: aliceblue;
    opacity: 0.4;
    margin: 0;
}